@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><img src="https://img.cinemablend.com/filter:scale/cb/1/8/e/d/5/2/18ed5270072b9c55def0a4446d7a58b2b30b461ad9a989f7b726a18679fc6ca7.jpg?mw=600" alt="Arkham Knight" /></p>
        <p>To the world's greatest database for superheros!</a></p>
    </div>
